*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    text-align: center;
}

label, button{
    display: block;
    margin: auto;
}

label{
    font-size: 1.2em;
}

button{
    margin-top: 1em;
    border: solid 1px black;
    font-size: 1em;
}